{% extends "_layouts/base.twig" %}
{% set title = "Notes" %}

{% block bodyContent %}

{% set query = craft.entries.section('notes').limit(10) %}
{% set entries = query.all() %}

{% paginate query as pageInfo, entries %}
{# Display the articles #}
<div class="h-feed">
{% for entry in entries %}
<article class="h-entry">
    <time class="dt-published" datetime="{{ entry.postDate|atom }}">{{ entry.postDate | date("M d, Y") }}</time>
    <h2 class="p-name"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
    
</article>
{% endfor %}
</div>
<hr>

<p>{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}

{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
</p>


<small><a href="https://nownownow.com/about">About a now page</a> by Derek Sivers, editor of <a href="https://nownownow.com">nownownow.com</a></small>

{% endblock bodyContent %}
