{% extends "_layouts/base.twig" %}
{% set title = entry.title %}
{% if entry.lede %}
	{% set metaDescription = entry.lede %}{# Get entry's previous and next links #}
{% else %}
		{% set metaDescription = entry.title %}{# Get entry's previous and next links #}	
{% endif %}

{# Get entry's previous and next links #}

{% set criteria = {section: 'Links', orderBy: 'postDate'} %}
{% set prev = entry.getPrev(criteria) %}
{% set next = entry.getNext(criteria) %}

{% block bodyContent %}

<article class="h-entry c-article">
<header>
	<h1 class="p-name"><a href="{{ entry.hyperlink }}">{{ entry.title }}</a></h1>
	{% if entry.lede %}
	<p class="p-summary lede">{{ entry.lede }}</p>
{% endif %}
</header>

<div class="e-content">

{% if entry.body %}
	{{ entry.body|md('gfm') }}
{% endif %}
	
</div>	

<footer class="authorinfo">
	<p>Posted by <a rel="me" class="p-author h-card u-url" href="https://scottgruber.me">{{ entry.author.name }}</a> on   
	<time class="dt-published" datetime="{{ entry.postDate|atom }}">{{ entry.postDate | date("M jS, Y") }}</time></p>
</footer>

	{# Fetch all of the categories related to this entry #}
	{% set categories = craft.categories.relatedTo(entry) %}
		{% if categories|length %}
	<div class="tags">
	<h2>Tagged with</h2> 
	{# Output them #}
	<ul>
	{% for category in categories.all %}
	<li><a class="p-category" href="{{ category.url }}">{{ category.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
{% endif %}
<div id="webmentions"></div>
</article>

{% if criteria %}
<hr>
<small>
{% if prev %}
	<span><a href="{{ prev.url }}">← Previous {{ prev.title }}</a></span>
{% endif %}

{% if next %}
   <span><a href="{{ next.url }}">{{ next.title }} Next → </a></span>
{% endif %}
</small>
{% endif %}

{% endblock bodyContent %}