{% extends "_layouts/base.twig" %}
{% set title = "生肖" %}
{% set metaDescription = "Chinese Zodiac Illustrations" %}
{% set bodyClass = "l-chinese-horoscope" %}
{% block bodyContent %}

{% set entries = craft.entries.section('shengxiao').all() %}

{# Display entries #}
<div class="h-feed">
{% for entry in entries %}
<article class="h-entry">
    {% set asset = entry.svg.one() %}

    {% if asset %}
    <figure>
    <a href="{{ entry.url }}">
    {{ svg(asset) |attr({
        class: 'zodiac'
        })
    }}     
    {% endif %}
    </a>
    </figure>

    <header>
    <h1 class="p-name"><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
    <p class="p-summary standfirst">{{ entry.chinese }} {{ entry.pinyin }}</p>
    </header>
    
	
</article>
{% endfor %}
</div>
{% endblock bodyContent %}