<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ craft.app.request.absoluteUrl }}" rel="self" type="application/rss+xml" />
        <description>{{ globals.siteDescription }}</description>
        <language>en-us</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>
    {% set query = craft.entries({
        section: ['articles', 'notes'],
        limit: 25
        }) %}
    {% set entries = query.all() %}    

    {% for entry in entries %}
        <item>
              <title>{{ entry.title }}</title>
              <link>{{ entry.url }}</link>
              <pubDate>{{ entry.postDate|rss }}</pubDate>
              <author>{{ entry.author }}</author>
              <guid>{{ entry.url }}</guid>
              <description><![CDATA[{{ entry.note }}{{ entry.lede }}{{ entry.body|markdown }}
            ]]></description>
            </item>
            
    {% endfor %}
    </channel>
</rss>